.mainMenu {
    display: flex;
    li {
        a {
            font-family: $raleway;
            text-transform: uppercase;
            margin: 0 30px;
            color: #ffffff;
            font-weight: 700;
        }
        @media screen and(max-width: 767px) {
            display: none;
        }
    }
}
.is-sticky {
    li {
        a {
            color: #444;
            &:hover {
                color: $p-color;
            }
        }
    }
}